*{
    /* background-image: url('./frozen-bubble-1943224_1280.jpeg'); */
    background-image: url('./dc6but6-a03d853d-502b-47e1-913f-55738c886211.gif');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
div{
    text-align: center;
    padding: 2em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-style: italic;
}

.container{
    color: white;
    border-radius: 1em;
    box-shadow: inset 0px 0px 15px 10px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0px 0px 15px 10px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(255, 255, 255, 0.5);

}

div:hover{
    text-shadow:  white 1px 0 10px;
}
header{
    width: 100%;
    position: relative;
    background-color: darkblue;
    text-align: center;
    padding: 2em;
    text-shadow: 1px 3px 3px white;
    font-family: 'Courier New', Courier, monospace;
}

h1{ 
    padding: 0.2em;
    color: white;
}

li a{
    color: red;
    margin: 2em;
    text-decoration: none;
    
}

h1:hover{
    color: red;
}

a:hover{
    color: white;
    text-shadow: 10px 5px 5px black;
}

footer{
    bottom: 0%;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    box-shadow: inset;
    position: relative;
    box-shadow: inset 0px 0px 15px 10px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0px 0px 15px 10px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(255, 255, 255, 0.5);
    border-radius: 1em 1em 0 0;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-style: italic;
    text-shadow: 1px 1px 2px white;
    cursor:pointer
}

p:hover{
    color: whitesmoke
}