*{
    background-image: url('./frozen-bubble-1943224_1280.jpeg');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    text-align: center;
    padding: 2em; 
    background-color:antiquewhite ;
}

#container{
    text-align: center;
    padding: 2em; 
    background-color:antiquewhite ;
}

div:hover{
    color: blue;
    text-shadow:  gold 1px 0 10px;
}